body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    color: white;
    padding: 10px;
}

#time-weather {
    text-align: right;
    font-size: 20px;
}

#main-news {
    height: 75%;
    padding: 20px;
    overflow: hidden;
}

.news-item {
    display: none; /* Initially hide all news items */
    transition: opacity 0.5s;
}

.news-item.active {
    display: block; /* Only show the active news item */
    opacity: 1;
}

#news-ticker {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    overflow: hidden;
    height: 25%;
}

.ticker-item {
    display: inline-block;
    white-space: nowrap;
    padding-right: 50px;
    animation: ticker 20s linear infinite;
}

@keyframes ticker {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    #time-weather {
        font-size: 16px;
    }

    .news-item {
        font-size: 14px;
    }
}
