body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

#header {
    background-color: #202020;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#channel-logo {
    font-size: 2em; /* Increased font size for better visibility */
    font-weight: bold;
}

#time-weather {
    font-size: 1.5em; /* Increased font size for better visibility */
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%; /* Adjusted for better space utilization */
    margin: 15px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#featured-news {
    text-align: center;
    font-size: 1.2em; /* Increased for readability */
}

#featured-news h2 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 2.5em; /* Increased for readability */
    color: #333;
}

#news-ticker-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(123, 175, 212);
    padding: 10px 0;
}

#news-ticker {
    display: flex;
    white-space: nowrap;
    animation: scroll-left 30s linear infinite; /* Slowed down for readability */
}

.ticker-item {
    padding: 0 2em;
    font-size: 1.5em; /* Increased for readability */
}

@keyframes scroll-left {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-300%); } /* Ensuring continuous scroll */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    #time-weather, .ticker-item {
        font-size: 1em; /* Adjust for smaller screens */
    }

    #featured-news h2 {
        font-size: 2em; /* Adjust for smaller screens */
    }
}
